.text-left{
    text-align: left;
}
.text-bottom {
    margin-top: 39px;
}
.icon-size{
    width: 35px;
    height: 100px ;
}
.bg-custom{
    background-color:#E6F2F8;
}
.space{
    line-height: 1.8;
    word-spacing: 10px;
}
.color-text{
    color: #1b6c29;
}