.cart-span-text{
    margin-left: 10px;
    font-size: small;
}

.service-row{
    flex-wrap: wrap 
}

.background-color{
    background-color: rgb(243, 243, 243);
}
.card:hover{
    box-shadow: 0px 0px 9px -4px;

}
.service{
    background-color: rgb(240, 241, 238);
}