.footer {
  font: bold;
  color: rgb(145, 160, 9);
  text-align: left;
  background-color: rgb(47 56 29);
}
.footer a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.text-email {
  color: #b3b3b3;
}
